[Unit]
Description=Maximus UserBot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/path/to/Maxli
ExecStart=/path/to/Maximus/venv/bin/python3 main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
